.section {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

.large {
  padding: 100px 0;
}

@media (min-width: 768px) {
  .large {
    padding: 140px 0;
  }
}

.navy {
  background: var(--bg-section-navy);
  color: var(--white);
}

.dark {
  background: var(--bg-section-dark);
  color: var(--white);
}

.black {
  background: var(--black);
  color: var(--white);
}
